[submodule "spell_proc_event"]
	path = spell_proc_event
	url = git@github.com:bwsrv/spell_proc_event.git
[submodule "scriptdev2"]
	path = scriptdev2
	url = git://github.com/przemratajczak/scriptdev2.git
[submodule "src/bindings/ScriptDev2"]
	path = src/bindings/ScriptDev2
	url = git@github.com:przemratajczak/scriptdev2.git
